<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blank page</title>
  <meta name="description" content="">
 

</head>

<body>

<script type="text/javascript" id="metaconfig_ch0p"> 
  var banner_image_ch0p=""; 
  var width_ch0p = 100; 
  var height_ch0p = 768; 
  var load_cap_ch0p = 0; 
  var close_cap_ch0p = 8;
  var codes = ["NEljQrv", "9d25767"];
</script>

<script type="text/javascript" src="{{config['DOMAIN']}}8qWQbaX"></script>

<div id="balam"></div>

</body>

</html>
